*{
    box-sizing: border-box;
}
.row_poster{
    width: auto;
    object-fit: contain;
    height: 100px;
    transition: transform 450ms;
    margin-right: 10px;
    cursor: pointer;
}
.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto; 
    padding: 20px;
}
.row_posters::-webkit-scrollbar{
display: none;
}
.row_poster:hover{
    transform: scale(1.08);
}
.row_posterlarge{
    height: 250px;
}
.row_posterlarge:hover{
    transform: scale(1.09);
}
.row h1{
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
}
